/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ----- Responsive Images ----- */

img{
  max-width:100px;
}

/* ----- Utility Classes ----- */
.container{
 max-width:960px; 
 width:80vw;
 margin:40px auto;
  
}


/* ----- Global Styles ----- */

body{
font-family: "Gabarito", sans-serif;
}

header.primary{
  background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
  color:#ffffff;
  text-align:center;
  text-shadow:2px 2px #000000;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /*Single value short hand*/
  padding:40px;
/*T,R,B,L */  
padding: 20px 40px 20px 40px;
/*Two Value Top/Bottom / L/R */
padding: 20px 40px;   
}

header.primary h1{
  font-size: 2.4rem;
  margin:20px 0 0;
}

header.primary h1 a{
 color:white;
 text-decoration:none;
}

header.primary h2{
  margin:1px;
  font-size: 1.4rem;
}

header.primary nav{
max-width:2500px;
margin-left:20px;
}

header.primary ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

header.primary ui li{
 list-style-type:none;
}

header.primary nav a{
  color:#fff;
  text-decoration:none;
  background-color:rgba(0,0,0,.3);
  padding:5px 10px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  transition:.4s;
}

header.primary nav a:hover{
  background-color:rgba(0,0,0,.5);
}

#content{
  line height:1.5
}


 #content h2{
  color:black;
   border:1px dotted;
}

#content h3{
  color:Black;
  border: 1px dotted;
  padding:1px;
}

#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
  border-bottom:1px dotted gold;
  padding-bottom: 3rem;
  border-top:1px dotted gold;
  padding-top: 3rem;
  flex-wrap:wrap;
}

#blog h2{
  flex: 0 0 100%;
  margin:0;
  text-align:center;
}

#blog .post{
  box-shadow: 0 2px 6px rgba(0,0,0,.6);
  border-radius:4px;
  font-size:.8rem;
  flex;1;
}

#blog figure{
  margin:0;
}

#blog figcaption{
  text-transform:uppercase;
  font-size: .6rem;
  text-align:center;
  color: Gold;
}

#blog header{
  background: grey;
  padding-top:.4rem;
}

#blog header h2{
  margin:0;
  background:#f8b996;

}

#blog .post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.7);
}

aside[role="complementary"]{
  background-color: #f8b996;
  color:black;
  padding:1rem;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:35px
}

aside .container a{
  display:block;
  color:black;
  text-align:right;
  margin-top 1rem;
}

aside .widget footer{
  
  display:none;
}

#colophon{
  background-color: Black;
  text-align:center;
  padding:10px;
  color: white;
  font size:1.1rem;
  
}
@media screen and (max-width:600px){
 header.primary ul{
  padding:0;
  flex-direction:column;
  gap:20px;
  max-widtj:250px;
   margin:auto;
  }  
  header.primary nav a{
    display:block;
  }
}





